# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# macOS folder attributes
Icon?
._*

# Thumbnails
._.DS_Store

.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/certs/

#env settings
.env
